<div id="edit">
<button type="button" id="skateredit" class="btn btn-primary btn-sm">Editar Datos</button>
<button type="button" id="adminedit" class="btn btn-secondary btn-sm">Administrar Datos</button>
</div>